<div *ngIf="posts">
  <span id="{{posts.id}}"></span>

  <mat-card class="example-card" id="post" >

    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-image class="iconUrl" [src]="posts.iconUrl" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-title>{{posts.username}}</mat-card-title>
      <mat-card-subtitle class="location">Earth C-137</mat-card-subtitle>
    </mat-card-header>

    <div class="parent">
      <img mat-card-image id="postimg" [src]="posts.imageUrl" alt="Photo of a Shiba Inu" (dblclick)="onLike()">
      <div *ngIf="posts.flaglike">
        <img mat-card-image class='heartImg' src='/assets/heart.png' alt='You already liked this'>
      </div>
    </div>

    <mat-card-actions #group="matCardActions">
      <em class="liked" *ngIf="posts.likes &gt; 0">{{posts.likes}}</em>
      <button mat-button value="You like this!" class="like-button" (click)="onLike()">LIKE</button>
      <button mat-button class="share-button">SHARE</button>
    </mat-card-actions>

    <mat-card-content>
      <p *ngIf="posts.description">
        <em>
          {{posts.username}}:
        </em>
        {{posts.description}}
      </p>
      <div *ngIf="posts.description" class = "spacer"></div>

      <p id='div+posts.id' *ngFor="let number of posts.comments">
        <em>{{number.username}}:</em> {{number.comment}}
      </p>


      <form #comment="ngForm" (ngSubmit)="onClickSubmit(comment.value)">
        <input class="post-comment" type="text" name="comment" placeholder="Write something" ngModel>
        <input type="submit" value="Comment" class="commentbutton">
      </form>


    </mat-card-content>

  </mat-card>

</div>